body {
    font-family: 'Poppins', 'Montserrat';
    background-color: #e8f8f5;
    margin: 0;
    padding: 0;
    color: #333;
}
.container {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
.card-title, .card-text {
    font-family: 'Montserrat', sans-serif;
}
.btn {
    font-family: 'Montserrat', sans-serif;
}
.col-12, .col-sm-6, .col-md-4, .col-lg-2 {
    padding-left: 0;
    padding-right: 0;
}
.cart {
    height: 60vh;
    background-color: white;
    margin-bottom: 30px;
    font-size: 0.875rem;
    padding: 1rem;
}
.cart .table thead th, 
.cart .table tbody td {
    font-size: 0.75rem;
}
.cart .total {
    font-size: 1rem;
    text-align: right;
    margin-top: auto;
    margin-right: 10px;
    padding: 20px;
}
.product-list, .cart {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.product-item, .cart-item {
    margin-bottom: 10px;
}
.product-item img, .cart-item img {
    max-width: 100px;
    height: auto;
}
.product-item, .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-item h5, .cart-item h5 {
    margin: 0;
}
.cart-summary {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.navbar {
    background-color: #0b5345;
}
.navbar-nav {
    flex: 1;
}
.navbar-toggler {
    border-color: transparent;
}
.navbar-brand {
    flex: 1;
}
.wifi-icon {
    margin-left: 15px;
    color: #28a745;
    transition: color 0.3s;
}
.no-network {
    color: red;
}
.custom-search-bar {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.input-group {
    border-bottom: 2px solid #ced4da;
}
.input-group-prepend .input-group-text {
    border: none;
    background-color: transparent;
}
.input-group-prepend .input-group-text i {
    color: #6c757d;
}
.cart-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cart {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
}
.table-responsive {
    flex-grow: 1;
    overflow-y: auto;
}
.empty-cart-img {
    max-width: 100px;
    height: auto;
}
.empty-cart-placeholder img {
    text-align: center;
    max-width: 80px;
}
.checkout-buttons {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.checkout-buttons button {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
.product-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    height: 6.5rem;
    border: 0;
}
.product-card:hover {
    transform: scale(1.05);
}
.product-card .card-body {
    padding: 0.75rem;
}
.product-card .card-title {
    font-size: 0.875rem;
    font-weight: bold;
}
.product-card .card-subtitle {
    font-size: 0.75rem;
}
.product-card .card-text {
    font-size: 0.75rem;
}
@media (max-width: 767px) {
    .col-sm-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .product-card {
        font-size: 0.875rem;
    }
    .cart {
        padding: 0.5rem;
    }
    .navbar-brand {
        font-size: 1rem;
    }
    .table-responsive {
        font-size: 0.875rem;
    }
    .cart {
        background-color: white;
        margin-bottom: 30px;
        font-size: 0.875rem;
    }
}